body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.entry-title{
    visibility:hidden;
    display: none;
}

/* Navigation Menu */
.main-navigation {
  margin-top: 24px;
  margin-top: 1.714285714rem;
  text-align: center;
}
.main-navigation li {
  margin-top: 24px;
  margin-top: 1.714285714rem;
  font-size: 12px;
  font-size: 0.857142857rem;
  line-height: 1.42857143;
}
.main-navigation a {
  color: #5e5e5e;
}
.main-navigation a:hover,
.main-navigation a:focus {
  color: #21759b;
}
.main-navigation ul.nav-menu,
.main-navigation div.nav-menu > ul {
  display: none;
}

.main-navigation ul.nav-menu.toggled-on,
.menu-toggle {
  display: inline-block;
}

/* CSS to use on mobile devices */

@media screen and (min-width: 600px) {

.main-navigation ul.nav-menu,
  .main-navigation div.nav-menu > ul {
      border-bottom: 1px solid #ededed;
      border-top: 1px solid #ededed;
      display: inline-block !important;
      text-align: left;
      width: 100%;
  }
  .main-navigation ul {
      margin: 0;
      text-indent: 0;
  }
  .main-navigation li a,
  .main-navigation li {
      display: inline-block;
      text-decoration: none;
  }
  .main-navigation li a {
      border-bottom: 0;
      color: #6a6a6a;
      line-height: 3.692307692;
      text-transform: uppercase;
      white-space: nowrap;
  }
  .main-navigation li a:hover,
  .main-navigation li a:focus {
      color: #000;
  }
  .main-navigation li {
      margin: 0 40px 0 0;
      margin: 0 2.857142857rem 0 0;
      position: relative;
  }
  .main-navigation li ul {
      margin: 0;
      padding: 0;
      position: absolute;
      top: 100%;
      z-index: 1;
      height: 1px;
      width: 1px;
      overflow: hidden;
      clip: rect(1px, 1px, 1px, 1px);
  }
  .main-navigation li ul ul {
      top: 0;
      left: 100%;
  }
  .main-navigation ul li:hover > ul,
  .main-navigation ul li:focus > ul,
  .main-navigation .focus > ul {
      border-left: 0;
      clip: inherit;
      overflow: inherit;
      height: inherit;
      width: inherit;
  }
  .main-navigation li ul li a {
      background: #efefef;
      border-bottom: 1px solid #ededed;
      display: block;
      font-size: 11px;
      font-size: 0.785714286rem;
      line-height: 2.181818182;
      padding: 8px 10px;
      padding: 0.571428571rem 0.714285714rem;
      width: 180px;
      width: 12.85714286rem;
      white-space: normal;
  }
  .main-navigation li ul li a:hover,
  .main-navigation li ul li a:focus {
      background: #e3e3e3;
      color: #444;
  }
  .main-navigation .current-menu-item > a,
  .main-navigation .current-menu-ancestor > a,
  .main-navigation .current_page_item > a,
  .main-navigation .current_page_ancestor > a {
      color: #636363;
      font-weight: bold;
  }
  .menu-toggle {
      display: none;
  }
   
  }


/* # General
================================ */
  
  /* # Header, Main Menu
  ================================ */
  
  .navbar {
    opacity: 1;
    margin-bottom: 0;
    background-color: #fff;
    transition: all 0.2s ease-out;
  }
  
  .navbar-container {
      position: relative;
  }

  .entry-header{
      display: none;
  }

  .menu a{
    font-size: 18px;
    font-weight: bold;
    color: #6ebeff;
    transition: all 0.2s ease-out;
  }
  
  .navbar .navbar-nav li{
    font-size: 18px;
    font-weight: bold;
    color: #6ebeff;
    transition: all 0.2s ease-out;
  }
  
  .navbar-brand {
    font-size: 25px;
    transition: all 0.2s ease-out;
      color: rgba(200,100,0,0.8);
  }
  
  .navbar-scroll {
    opacity: 1;
  }
  
  #top-social-menu {
    display: none;
  }
  
  
  @media (min-width: 768px) {
    .navbar {
      height: 120px;
    }
  
    .navbar-nav>li>a {
      padding: 0;
      margin-top: 35px;
      margin-left: 50px;
      line-height: 70px;
    }
  
    .navbar-brand {
      font-size: 28px;
      padding: 0;
      height: 120px;
      line-height: 120px;
    }
  
    #top-social-menu {
      display: initial;
    }
  
    /* Navbar when scrolled */
  
    .navbar-scroll {
      height: 70px;
    }
  
    .navbar-scroll #top-social-menu {
      display: none;
      transition: all 0.2s ease-out;
    }
  
    .navbar-scroll .navbar-brand {
      height: 70px;
      line-height: 70px;
    }
  
    .navbar-scroll .navbar-nav>li>a {
      opacity: 1;
      padding: 0;
      margin-top: 0;
    }
  }
  
  /* # Hover Link Effect
  ================================ */
  @media (min-width: 768px) {
    .navbar-nav>li>a::after {
      position: absolute;
      top: 80%;
      left: 0;
      width: 100%;
      height: 1px;
      background: #2E1C05;
      content: '';
      opacity: 0;
      transition: height 0.3s, opacity 0.3s, transform 0.3s;
      transform: translateY(-10px);
    }
  
    .navbar-nav>li>a:hover::after,
    .navbar-nav>li>a:focus::after {
      height: 2px;
      opacity: 1;
      transform: translateY(0px);
    }
  }
  
  /* # Social menu
  ================================ */
  
  #top-social-menu {
    position: absolute;
    top: 7px;
    right: 0;
    font-size: 12px;
    z-index: 101;
    padding-right: 0px;
    list-style: none;
    color: #2E1C05;
    transition: all 0.2s ease-out;
  }

  figcaption {
      color:black;
      font-size: 24px !important;
      font-weight: bold;
  }
  
  #top-social-menu li:last-child {
    padding-right: 0;
  }
  
  #top-social-menu li a {
    text-decoration: none;
    color: #2E1C05;
  }
  
  #top-social-menu li a:hover {
    text-decoration: none;
    color: #543A1A;
  }
  
  #top-social-menu i {
       font-size: 16px;
    
    transition: all 0.2s ease-in;
  }
  
  #top-social-menu i:hover {
    text-decoration: none;
    color: #543A1A;
  }
  
  .has-background{
      width: 100%;
  }
 /*Footer*/

 .footer{
    background-color:#92ceff;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    width:100%;
    display:flex;
    color:white;
    align-items:center;
    justify-content: space-between;
    padding:1rem 0;
    height:max-content;
    }
    
    .footer section{
    padding:1rem 2rem;
    width:100%;
    vertical-align:top;
    }
    
    .footer section h3{
    color:var(--white);
    font-weight: 700
    }
    
    .footer section a{
    color:var(--gray);
    display:flex;
    align-items:center;
    white-space:nowrap;
    margin:15px 0;
    }
    
    .footer section a:hover{
    color:var(--white);
    }
    
    .footer section:nth-child(2) a:before,.footer section:nth-child(3) a:before{

    margin-right:5px;
    color:var(--white);
    }
    
    .footer section a span{
    margin:0 10px;
    }
    
    .sub-footer{
    background-color:#0A1128;
    text-align:Center;
    color:white;
    padding:1rem 0;
    }
    
    @media (max-width:1020px){
    .footer{
    display:block;
    }
    .footer section{
    padding:1rem 1rem;
    }
    .footer section:nth-child(2), .footer section:nth-child(3){
    width:49%;
    display:inline-block;
    }
    }
    
    
    #mainHeader{
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding-top:0.5rem;
        padding-bottom:0.5rem;
        padding-left:5rem;
        padding-right:5rem;
    }

    .content {
      height: 1vh;
    }
    
    .top-bar{
      background-color: #2dbbfd!important;
      color: #fff;
    }

    .top-bar a{
      color:white;
    }
    
    #menu-store{
      background:transparent;
    }

    .menu{
      font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 12px;
    }