.wp-block-quote{
    color: blue;
}


.wp-block-quote.is-style-fancy-quote{
    color: red;
}

.entry-content > *{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.alignwide{
    width: 1200px;
    margin-left:auto;
    margin-right:auto;
}

.wp-block-columns{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.wp-block-image{
    width: 100%;    
}
